/**
 * Colors
 */
$spinner-color-black: #000;
$spinner-color-white: #fff;

$spinner-color-light-gray: #efefef;
$spinner-color-gray: #bdbdbd;
$spinner-color-dark-gray: #8d8d8d;

$spinner-color-blue-gray: #607d8b;

$spinner-color-light-blue: #6ec6ff;
$spinner-color-blue: #2196f3;
$spinner-color-dark-blue: #0069c0;

$spinner-color-light-green: #80e27e;
$spinner-color-green: #4caf50;
$spinner-color-dark-green: #087f23;

$spinner-color-light-yellow: #ffff72;
$spinner-color-yellow: #ffeb3b;
$spinner-color-dark-yellow: #c8b900;

$spinner-color-amber: #ffc107;
$spinner-color-orange: #ff9800;
$spinner-color-deep-orange: #ff5722;

$spinner-color-light-red: #ff7961;
$spinner-color-red: #f44336;
$spinner-color-dark-red: #ba000d;

$spinner-color-light-purple: #d05ce3;
$spinner-color-purple: #9c27b0;
$spinner-color-dark-purple: #6a0080;

$spinner-color-magenta: #ff0097;

$spinner-color-light-brown: #a98274;
$spinner-color-brown: #795548;
$spinner-color-dark-brown: #4b2c20;
