// UIP settings
$bah-uswds-toast-margin: 1.5rem !default; // distance toasts should be from the edge of the screen
$bah-uswds-toast-spacing: 0.8rem !default; // distance toasts should be spaced from each other
$bah-uswds-toast-width: 20rem !default; // width of toasts
$bah-uswds-toast-fade-in: 0.3s !default; // time for toasts to fade in
$bah-uswds-toast-fade-out: 0.3s !default; // time for toasts to fade out
